<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- RVIZ -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find uwb_localization)/config/config_rviz.rviz" />

    <!-- Spawn UAVs -->
    <include file="$(find uwb_localization)/launch/spawn_uav.launch">
        <arg name="id" value="0"/>
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
    </include>
    <include file="$(find uwb_localization)/launch/spawn_uav.launch">
        <arg name="id" value="1"/>
        <arg name="x" value="0"/>
        <arg name="y" value="1"/>
        <arg name="z" value="0"/>
    </include>
    <include file="$(find uwb_localization)/launch/spawn_uav.launch">
        <arg name="id" value="2"/>
        <arg name="x" value="1"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
    </include>
    <node pkg="uwb_localization" name="ground_truth_node" type="ground_truth_node.py">
        <param name="uav_name_prefix" value="iris"/>
    </node>
    <node pkg="uwb_localization" name="noisy_pose_node" type="noisy_pose_node.py">
        <param name="uav_name_prefix" value="iris"/>
    </node>
    <node pkg="uwb_localization" name="visualization_node" type="visualization_node.py"></node>
</launch>